#bookcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.book {
  border: black solid;
  text-align: center;
}
.toggleRead {
  background-color: red;
}
.removeBook {
  background-color: red;
}
.notRead {
  background-color: red;
}
.read {
  background-color: green;
}
